 /*General Transitions*/
 
 .btn-generic:hover {
     transition-duration: 0.5s;
 }
 /*Hide element*/
 
 .show {
     visibility: visible;
 }
 
 .border-generic {
     height: 1px;
     background: linear-gradient(to left, #7b68ee, #49ccf9);
 }
 
 .btn-generic {
     background: #7b68ee;
     color: #fff;
 }
 
 .btn-generic:hover {
     opacity: 0.9;
     color: #fff;
 }
 /*Modal*/
 
 .showModal {
     visibility: visible !important;
     display: block !important;
     opacity: 1 !important;
 }
 
 .icon-generic {
     color: #03A9F4;
     font-size: 20px;
 }
 
 .tooltip-inner {
     background: #03A9F4 !important;
     color: #fff !important;
 }
 
 .tooltip>.arrow:before {
     border-bottom-color: #03A9F4;
 }
 
 .welcome {
     font-size: 20px;
     margin-left: 20px;
 }